/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio кэш
.vs/
*.csproj
*.sln

# Мета-файлы авто-генерируемые, не для всех
# *.meta  (обычно их включают, но если играете одиночно, можете раскомментировать)